<div class="row justify-space-between-md">
  
  <div class="post-card">
    <h2 class="page-title">Edit this Blog</h2>
    <form class="form edit-button">
      <div class="form-group">
        <label for="title">Post Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input class="form-input" type="text" id="content" />
      </div>
      <div class="form-group edit-button">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="../public/js/blogedit.js"></script>