{{#each blogs}}
  <div class="card">
    <h2 class="blog-title">{{title}}</h2>
    <p class="user">Posted by: {{user}} at {{post_date}}</p>
    <p>{{content}}</p>
    <button class="delete-button">Delete</button>
  </div>
{{/each}}